.home {
	header {
		@include header;
		.left {
			position: relative;
			// width: 54px;
			height: 21px;
			left: 21px;
			top: 12px;
			border-radius: 32px;
			#time-light {
				@include time-light;
			}
		}
	}

	section {
		position: relative;
		.greetings {
			margin: 60px 24px 24px;
			// width: 327px;
			height: 60px;
			display: flex;
			#hi {
				//position: absolute;
				// width: 196px;
				height: 60px;
				left: 24px;
				#greet {
					height: 18px;
					left: 52px;
					font-family: "Rubik";
					font-style: normal;
					font-weight: 500;
					font-size: 12px;
					line-height: 150%;
					/* identical to box height, or 18px */
					display: flex;
					align-items: center;
					letter-spacing: 0.04em;
					text-transform: uppercase;
					color: #ffd6dd;
					svg {
						padding-right: 8px;
					}
				}

				.name {
					// width: 196px;
					height: 36px;
					font-family: "Rubik";
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 150%;
					/* identical to box height, or 36px */
					display: flex;
					align-items: center;
					color: #ffffff;
				}
			}
			.avatar {
				border-radius: 50%;
				margin-left: auto;
			}
		}

		.card-one {
			margin: 0 24px 24px;
			padding: 16px 24px 0;
			height: 84px;
			background: url(../assets/Vector7.png) repeat,
				url(../assets/Vector8.png) repeat, #ffccd5;
			border-radius: 20px;
			display: flex;
			flex-direction: row;
			#recent-quiz {
				// padding: 16px 24px 8px;
				font-family: "Rubik";
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 140%;
				text-transform: uppercase;
				letter-spacing: 0.08em;
				color: #660012;
				p {
					opacity: 0.5;
					margin: 0;
				}
				#name-recent {
					display: flex;
					align-items: center;
					margin-top: 8px;
					font-family: "Rubik";
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 135%;
					text-transform: capitalize;
					color: #660012;
					opacity: 1;
					svg {
						margin-right: 8px;
					}
				}
			}

			.pie {
				/* Body/Small - Medium */
				margin-left: auto;
				font-family: "Rubik";
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 140%;
				display: flex;
				align-items: center;
				justify-content: center;
				// align-self: center;
				color: $white;
				border-radius: 50%;
				width: 48px;
				height: 48px;
				background: conic-gradient($pink-salmon 65%, #ffb3c0 0);
			}
		}

		.card-two {
			background: url(../assets/Group6.png) no-repeat right top,
				url(../assets/Group7.png) left bottom no-repeat, $dull-lavender;
			border-radius: 20px;
			margin: 0 24px 24px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.top-featured {
				padding: 16px 16px 0;
				display: flex;
				p {
					//position: absolute;
					left: 124px;
					font-family: "Rubik";
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 140%;
					margin: 16px 60px;
					/* identical to box height, or 20px */

					display: flex;
					align-items: center;
					letter-spacing: 0.08em;

					/* Neutral / White */

					color: #ffffff;

					opacity: 0.7;
					text-transform: uppercase;
				}
				img {
					width: 48px;
					height: 48px;
				}
			}

			.mid-featured {
				margin: 0 63px 16px 64px;
				font-family: "Rubik";
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 135%;
				text-align: center;
				color: #ffffff;
			}

			.btm-featured {
				// margin-bottom: 32px;
				display: flex;
				margin: 0 11px 32px 91px;
				justify-content: flex-end;
				button {
					@include btn-small;
					padding: 12px 16px;
					margin-right: 11px;
					svg {
						margin-right: 10px;
					}
				}
				img {
					//position: absolute;
					right: 15px;
					bottom: 42px;
				}
			}

			img {
				border-radius: 50%;
			}
		}
	}

	footer {
		position: fixed;
		background: $white;
		display: flex;
		width: 100%;
		bottom: 0;
		#plus {
			position: fixed;
			bottom: 0;
			margin: 0 calc(50% - 54px);
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-grow: 1;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
}
