@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import "./variables";
@import "./home";
@import "./leaderboard";
@import "./profile";

body {
	background-color: $royal-blue;
	margin: 0;
	padding: 0;
	// width: 100% !important;
	overflow-x: hidden !important;
}
